{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/board_panel.css' %}">
{% endblock %}


{% block content %}
<div class="container_manager">
    
    <div>

        <h3>Order Board</h3>

    </div>
    <div>
        {% if not orders_list %}

        <h2>No Order to display yet...</h2>
        {% else %}
        <div>
            <div class="item_manager">
                <table class="table table-sm">
                    <thead>
                        <tr class="row_manager">
                            <th scope="col">Buyer </th>
                            <th scope="col">Order ID </th>
                            <th scope="col">Item</th>
                            <th scope="col">Date</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col-2">Email</th>
                            <th scope="col">Status</th>
                            <th scope="col">Contact Buyer</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for order in orders_list %}
                        <tr>
                            <td><a href="#">{{order.buyer.id}}</a></td>
                            <td><a href="#">{{order.id}}</a></td>
                            <td>{{order.item.title}}</td>
                            <td>{{order.date}}</td>
                            <td>{{order.phone_number}}</td>
                            <td>{{order.profile.email}}</td>
                            <td>Status</td>
                            <td><a href="{% url 'send_message' order.buyer.pk  %}">Contact Buyer </a>
                        </tr>

                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>


    </div>
</div>




{% endif %}

{% endblock %}