

.container_manager{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

}


.manager_menu{
    
    width: 100%;
    height: 30px;
    font-size: large;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-items: right;
}

table{
    /* height: 50%; */
}

.item_manager{
    background-color:rgb(245, 225, 202);
    border-radius: 5px;
    border: solid 2px black;

    margin-bottom: 50px;
 
}




.title_block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.empty_query{
    height: 300px;
}

.panel_naviagation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
}

.panel_naviagation a{
    background-color: rgb(235, 228, 226);

}

.table_row{
    height:;
}
