.container{
    margin-top: 30px;
    width: 70%;
    margin-bottom: 100px;
}

.item_page{
    margin: auto;

    align-content: center;
    justify-content: center;
    margin-bottom: 50px;

}

.item_body{
    display: flex;
    flex-direction: row;
    
    
}

.item_img{
    width: 350px;
    height: 350px;
    background-color: black;
    padding: 10px;
}

.action_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

